header {
    display: flex;
    height: 50px;
}

#v3-security {
    width: 40%;
    height: 50px;
}

#v3-security-img {
    position: absolute;
    right: 70%;
    height: 50px;
}

#header-2 {
    width: 60%;
    background: white;
    height: 50px;
    display: flex;
    text-align: right;
}

.others{
    color: grey;
}

#home {
    color:dodgerblue;
}

body {
    margin: 0;
    padding: 0;
}

#houses {
    width: 100%;
    height: 400px;
}

.flex-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.read-more {
    background: white;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 1px grey;
    color: grey;
    font-size: 20px;
    height: 30px;
    text-align: center;
    width: 180px;
    font-weight: bold;
    padding: 3px;
}

.read-more-paragraph {
    font-size: 20px;
    color: grey;
}

#description1 {
    margin-left: 10%;
    margin-right: 10%;
}

#description2 {
    margin-left: 10%;
    margin-right: 10%;
}

.read-more-header {
    color: dodgerblue;
}

#description1{
    text-indent: 10px;
    color: grey;
}

#description2{
    text-indent: 10px;
    color: grey;
}

#our-clients-say {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

blockquote {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 800px;
    margin-right: 10%;
    margin-left: 10%;
}

.quote-box {
    width: 100%;
}

.quote {
    width: 300px;
    background-color: whitesmoke;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: grey;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.rewiew {
    display: flex;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: black;
    font-size: 10px;
    padding: 15px;
    text-align: left;
    height: 60px;
    width: 200px;
}

.rewiew-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    width: 100px;
    font-size: 15px;
}

.rewiew-name p {
    width: 100px;
}

.stars {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    font-size: 20px;
}

.checked {
    color: grey;
    text-align: right;
}

blockquote::after {
    border-color: transparent whitesmoke transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 20px;
    top: 40px;
    content: " ";
    display: block;
    right: 75%;
    position: relative;
}

blockquote p:before {
    content: open-quote;
    font-weight: bold;
    font-size:40px;
    color:grey;
}

blockquote p:after {
    content: close-quote;
    font-weight: bold;
    font-size:40px;
    color:grey;
}

#iframe-div {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 300px;
}

#view{
    color: dodgerblue;
}
.hr{
    color: whitesmoke;
    margin-bottom: 0;
}

#img1{
    text-align: -moz-center;
}

#img2{
    text-align: -moz-center;
}

#img3{
    text-align: -moz-center;
}

#square {
    width: 20px;
    height: 20px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 20px;
    margin-left: 70%;
}
#w{
    color: grey;
}

#neighbour{
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: absolute;
    margin-top: 100px;
    margin-left: 120px;
    width: 400px;
    height: 200px;
    background-color: dodgerblue;
    opacity: 0.8;
    text-align: center;
    line-height: 20px;
    color: white;
}
#description-3{
    color: white;
}

.rectangle {
    border-bottom-right-radius: 100px;
    width: 450px;
    height: 50px;
    border: 1px solid dodgerblue;
    line-height: 20px;
    background-color: white;
    padding: 10px 10px 10px 100px;
    background: dodgerblue;
}

#client{
    text-align: center;
    color: white;
    font-size: 24px;
}