header {
    display: flex;
    height: 50px;
}

#v3-security {
    width: 40%;
    height: 50px;
}

#v3-security-img {
    position: absolute;
    right: 70%;
    height: 50px;
}

#header-2 {
    width: 60%;
    background: white;
    height: 50px;
    display: flex;
    text-align: right;
}
.others{
 color: grey;
 }
#home {
color:dodgerblue;
}

body {
    margin: 0;
    padding: 0;
}

#houses {
    width: 100%;
    height: 400px;
}

.flex-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.read-more {
    background: white;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 1px grey;
    color: grey;
    font-size: 20px;
    height: 30px;
    text-align: center;
    width: 180px;
    font-weight: bold;
    padding: 3px;
}

.read-more-paragraph {
    font-size: 20px;
    color: grey;
}

#description1 {
    margin-left: 10%;
    margin-right: 10%;
}

#description2 {
    margin-left: 10%;
    margin-right: 10%;
}

.read-more-header {
    color: dodgerblue;
}

#description1{
    text-indent: 10px;
}

#description2{
    text-indent: 10px;
}

#our-clients-say {
    display: flex;
}

.container {
    width: 600px;
    margin-right: 10%;
    margin-left: 10%;
}

.quote {
    background-color: whitesmoke;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: grey;
    margin: 0;
    padding: 20px;
    font-size: 20px;
}

.rewiew {
    display: flex;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: left;
    height: 60px;
}

.rewiew-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.stars {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25%;
}

.checked {
    color: grey;
    text-align: right;
}

blockquote {
    padding: 0;
    margin: 0;
}

blockquote::after {
    border-color: transparent whitesmoke transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 20px;
    top: 40px;
    content: " ";
    display: block;
    right: 75%;
    position: relative;
}

blockquote h3:before {
    content: open-quote;
    font-weight: bold;
    font-size:40px;
    color:grey;
}

blockquote h3:after {
    content: close-quote;
    font-weight: bold;
    font-size:40px;
    color:grey;
}
#view{
    color: dodgerblue;
}
.hr{
    color: whitesmoke;
}